.read-more {
  margin-top: 20px;
}

.read-more, .contact-button {
  background: #bd3b4d;
  color: #eee;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
}

.read-more-takeover {
  text-align: center;
}

body {
  background-color: #eee;
  font-family: arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  color: #bd3b4d;
  margin: 10px 0 5px 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  color: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

p {
  margin-top: 5px;
}

hr {
  border-top: 1px solid #bd3b4d;
  margin: 20px 0;
}

h1.section-title {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 20px;
}

.section-byline {
  text-align: center;
  margin-bottom: 40px;
}

#page-header {
  text-align: center;
  width: 100%;
}
#page-header img.logo {
  height: 100px;
}

#logo-bar {
  background: #bd3b4d;
  line-height: 0;
  width: 100%;
}
#logo-bar img {
  max-width: 100%;
}

#nav {
  background-color: #ad2b3d;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
#nav a, #nav button {
  background: none;
  border: none;
  color: #eee;
  cursor: pointer;
  font-size: 0.85em;
  font-family: sans;
  font-weight: bold;
  margin: 0 20px;
  text-decoration: none;
}
@media (max-width: 640px) {
  #nav a, #nav button {
    margin: 0 10px;
  }
}
@media (max-width: 540px) {
  #nav .get-in-touch {
    display: block;
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  #nav a, #nav button {
    display: none;
  }
  #nav a.get-in-touch, #nav button.get-in-touch {
    display: block;
    margin-top: 0;
  }
}

#headline {
  background-color: #395b4f;
  background-image: url("../img/stock/office-1.jpg");
  background-size: cover;
  background-position: center;
  color: #eee;
  height: 200px;
  padding: 100px;
  font-size: 32px;
}
#headline > h1 {
  color: inherit;
  font-size: 52px;
  margin: 0;
}
@media (max-width: 800px) {
  #headline {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  #headline {
    font-size: 28px;
  }
  #headline > h1 {
    font-size: 44px;
  }
}
@media (max-width: 500px) {
  #headline {
    font-size: 20px;
  }
  #headline > h1 {
    font-size: 30px;
  }
}
@media (max-width: 240px) {
  #headline > h1 {
    display: none;
  }
}

#page-footer {
  background: #bd3b4d;
  color: #eee;
  height: 300px;
  padding: 50px 0;
  position: relative;
  margin-top: 60px;
  text-align: center;
  width: 100%;
}
#page-footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

#copyright-notice {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#footer-contact {
  font-size: 1.2em;
}

.services {
  background: inherit;
}

section#services {
  margin: auto;
  margin-top: 60px;
  width: 1000px;
  max-width: 80%;
  padding: 20px;
}
@media (max-width: 800px) {
  section#services {
    width: 90%;
  }
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .services-wrapper {
    display: block;
  }
}
@media (max-width: 400px) {
  .services-wrapper {
    width: 100%;
  }
}

.service-item {
  background: white;
  height: 350px;
  margin: 40px 0;
  text-align: left;
  vertical-align: top;
  width: 300px;
}
.service-item h2 {
  background: #bd3b4d;
  color: white;
  padding: 5px 0;
  text-align: center;
}
.service-item h2, .service-item img.thumbnail {
  display: block;
  width: 100%;
  margin: 0;
}
.service-item > p {
  padding: 10px 15px;
}
.service-item > ul {
  padding-right: 15px;
}
.service-item ul {
  list-style-type: circle;
}
.service-item ul li {
  margin-top: 10px;
}
.service-item > div, .service-item > a {
  padding: 0 15px;
}
@media (max-width: 800px) {
  .service-item {
    margin: auto;
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .service-item {
    height: auto;
    min-height: 350px;
    width: 100%;
  }
}

.contact-note {
  margin: auto;
  margin-top: 60px;
  width: 1000px;
  max-width: 80%;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 800px) {
  .contact-note {
    width: 90%;
  }
}

#tech {
  background: white;
  height: 250px;
  margin-top: 60px;
}
#tech .content {
  margin: auto;
  margin-top: 60px;
  width: 1000px;
  max-width: 80%;
  padding: 20px;
}
@media (max-width: 800px) {
  #tech .content {
    width: 90%;
  }
}
#tech .content img {
  display: inline-block;
  height: 60px;
}
#tech .tech-examples {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  overflow-x: auto;
}
@media (max-width: 600px) {
  #tech .content img {
    height: 30px;
  }
}
@media (max-width: 400px) {
  #tech .tech-examples {
    display: block;
    text-align: center;
  }
}

#vision {
  margin: auto;
  margin-top: 60px;
  width: 1000px;
  max-width: 80%;
  padding: 20px;
}
@media (max-width: 800px) {
  #vision {
    width: 90%;
  }
}

.vision-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .vision-wrapper {
    display: block;
  }
}
@media (max-width: 400px) {
  .vision-wrapper {
    width: 100%;
  }
}

.vision-item {
  background: white;
  height: 350px;
  margin: 40px 0;
  text-align: left;
  vertical-align: top;
  width: 300px;
}
.vision-item h2 {
  background: #bd3b4d;
  color: white;
  padding: 5px 0;
  text-align: center;
}
.vision-item h2, .vision-item img.thumbnail {
  display: block;
  width: 100%;
  margin: 0;
}
.vision-item > p {
  padding: 10px 15px;
}
.vision-item > ul {
  padding-right: 15px;
}
.vision-item ul {
  list-style-type: circle;
}
.vision-item ul li {
  margin-top: 10px;
}
.vision-item > div, .vision-item > a {
  padding: 0 15px;
}
@media (max-width: 800px) {
  .vision-item {
    margin: auto;
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .vision-item {
    height: auto;
    min-height: 350px;
    width: 100%;
  }
}

#blog-posts {
  margin: auto;
  margin-top: 60px;
  width: 1000px;
  max-width: 80%;
  padding: 20px;
  margin-top: 0;
}
@media (max-width: 800px) {
  #blog-posts {
    width: 90%;
  }
}

.blog-posts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .blog-posts-wrapper {
    display: block;
  }
}
@media (max-width: 400px) {
  .blog-posts-wrapper {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .blog-posts-wrapper {
    display: block;
    width: 100%;
  }
}

.blog-posts-item {
  background: white;
  height: 350px;
  margin: 40px 0;
  text-align: left;
  vertical-align: top;
  width: 300px;
  width: 480px;
  min-height: 500px;
  height: auto;
}
.blog-posts-item h2 {
  background: #bd3b4d;
  color: white;
  padding: 5px 0;
  text-align: center;
}
.blog-posts-item h2, .blog-posts-item img.thumbnail {
  display: block;
  width: 100%;
  margin: 0;
}
.blog-posts-item > p {
  padding: 10px 15px;
}
.blog-posts-item > ul {
  padding-right: 15px;
}
.blog-posts-item ul {
  list-style-type: circle;
}
.blog-posts-item ul li {
  margin-top: 10px;
}
.blog-posts-item > div, .blog-posts-item > a {
  padding: 0 15px;
}
@media (max-width: 800px) {
  .blog-posts-item {
    margin: auto;
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .blog-posts-item {
    height: auto;
    min-height: 350px;
    width: 100%;
  }
}
.blog-posts-item .keywords {
  color: #ad2b3d;
}
.blog-posts-item .item-footer {
  border-top: solid 1px #bd3b4d;
  padding-top: 10px;
}
.blog-posts-item .read-more {
  margin-bottom: 20px;
}
.blog-posts-item h2 {
  background: inherit;
  color: #bd3b4d;
  margin: 20px 10px;
  width: auto;
}
.blog-posts-item .interact {
  text-align: center;
}
.blog-posts-item .preview-link {
  padding: 0;
}
.blog-posts-item img.thumbnail {
  aspect-ratio: 2/1;
}
@media (max-width: 1000px) {
  .blog-posts-item {
    margin: auto;
    margin-top: 30px;
    width: 100%;
  }
}

.blog-post {
  margin: auto;
  margin-top: 60px;
  width: 1000px;
  max-width: 80%;
  padding: 20px;
  line-height: 1.5em;
}
@media (max-width: 800px) {
  .blog-post {
    width: 90%;
  }
}
.blog-post h2, .blog-post h3 {
  margin: 20px 0 10px 0;
}
.blog-post :not(pre) > code {
  background: #eee;
  color: #ad2b3d;
  border: solid 1px #ccc;
  display: inline-block;
  padding: 0 5px;
}
.blog-post pre {
  margin: 20px 0 !important;
}
.blog-post > ul:first-of-type {
  border: solid 1px #bd3b4d;
  display: inline-block;
  line-height: 1.2em;
  padding: 20px 40px;
}
.blog-post .diagram {
  background: white;
  margin: 30px 0;
  overflow-x: auto;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}